---
language: "python"
python: "2.7"

env:
  - SITE_AND_INVENTORY="tests/test.yml -i tests/inventory"

before_install:
  - "__rvm_unload ; rm -rf ~/.rvm"
  - "ssh-keygen -t rsa -P '' -f /tmp/id_rsa"

install:
  - "pip install ansible==1.6.2"
  - "printf '[defaults]\nroles_path = ../' > ansible.cfg"
  - "ansible-galaxy install nickjj.ruby nickjj.rails --force"

script:
  - "git config --global user.email 'foo@bar.com' && git config --global user.name 'Foo Bar'"
  - "cd tests/railsapp && git init && git add -A && git commit -m 'Initial commit' && cd -"
  - "ansible-playbook $SITE_AND_INVENTORY --syntax-check"
  - "ansible-playbook $SITE_AND_INVENTORY --connection=local -vvvv"
  - >
    ansible-playbook $SITE_AND_INVENTORY --connection=local
    | grep -q 'changed=2.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)
  - >
    crontab -l
    | grep -q 'whenever is awesome'
    && (echo 'Cron set test: pass' && exit 0)
    || (echo 'Cron set test: fail' && exit 1)
  - > 
    sleep 61 && cat /tmp/whenever
    | grep -q 'whenever is awesome'
    && (echo 'Cron worked test: pass' && exit 0)
    || (echo 'Cron worked test: fail' && exit 1)
  - >
    ansible-playbook $SITE_AND_INVENTORY --connection=local --extra-vars '{"whenever_clear":["testapp"]}'
    | grep -q 'changed=3.*failed=0'
    && (echo 'Whenever clear test: pass' && exit 0)
    || (echo 'Whenever clear test: fail' && exit 1)
  - >
    crontab -l
    | grep -q 'whenever is awesome'
    && (echo 'Cron clear test: pass' && exit 1)
    || (echo 'Cron clear test: fail' && exit 0)